name: deploy
run-name: deploy

on:
  push:
    branches: 
      - main

jobs:
  name: Deploy
  
  steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: "1.25.1"

    - name: build 
      run: ./scripts/buildprod.sh

